@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));


@tailwind utilities;

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
 
  /* --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0); */
  --background: #0a0a0a;
  --foreground: #f9f9f9;
  --card: #0a0a0a;
  --card-foreground: #f9f9f9;
  --popover: #0a0a0a;
  --popover-foreground: #f9f9f9;
  --primary: #f9f9f9;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #f9f9f9;
  --muted: #262626;
  --muted-foreground: #a0a0a0;
  --accent: #262626;
  --accent-foreground: #f9f9f9;
  --destructive: #811719;
  --destructive-foreground: #fa2b36;
  --border: #262626;
  --input: #262626;
  --ring: #525252;
  --chart-1: #1347e5;
  --chart-2: #00bc7c;
  --chart-3: #fd9900;
  --chart-4: #ac46ff;
  --chart-5: #ff1f56;
  --sidebar: #171717;
  --sidebar-foreground: #f9f9f9;
  --sidebar-primary: #1347e5;
  --sidebar-primary-foreground: #f9f9f9;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #f9f9f9;
  --sidebar-border: #262626;
  --sidebar-ring: #525252;
}

.dark {
  /* --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0); */
  --background: #0a0a0a;
  --foreground: #f9f9f9;
  --card: #0a0a0a;
  --card-foreground: #f9f9f9;
  --popover: #0a0a0a;
  --popover-foreground: #f9f9f9;
  --primary: #f9f9f9;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #f9f9f9;
  --muted: #262626;
  --muted-foreground: #a0a0a0;
  --accent: #262626;
  --accent-foreground: #f9f9f9;
  --destructive: #811719;
  --destructive-foreground: #fa2b36;
  --border: #262626;
  --input: #262626;
  --ring: #525252;
  --chart-1: #1347e5;
  --chart-2: #00bc7c;
  --chart-3: #fd9900;
  --chart-4: #ac46ff;
  --chart-5: #ff1f56;
  --sidebar: #171717;
  --sidebar-foreground: #f9f9f9;
  --sidebar-primary: #1347e5;
  --sidebar-primary-foreground: #f9f9f9;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #f9f9f9;
  --sidebar-border: #262626;
  --sidebar-ring: #525252;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}






.headercss{
  box-shadow: rgba(62, 61, 61, 0.4) 0px 2px 4px, rgba(62, 61, 61, 0.3) 0px 7px 13px -3px, rgba(90, 90, 90, 0.2) 0px -3px 0px inset;
}


.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px ,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255,0.1) 1px , transparent 1px ); 


  background-size: 50px 50px;
  pointer-events: none;
  z-index: -1;
}

.grid-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.9));
}


.gradient{
   background: linear-gradient(to bottom, rgb(156 163 175) 0%, rgb(229 231 235) 50%, rgb(75 85 99) 100%);
}

.gradient-title{
  /* gradient font-extrabold tracking-tighter text-transparent bg-clip-text pb-2 pr-2; */
  background-image: linear-gradient(to bottom, rgb(156 163 175) 0%, rgb(229 231 235) 50%, rgb(75 85 99) 100%);
font-weight: 800;
letter-spacing: -0.05em;
color: transparent;
-webkit-background-clip: text;
background-clip: text;
padding-bottom: 0.5rem;
padding-right: 0.5rem;

}


.hero-image-wrapper {
  overflow: hidden;
  perspective: 800px;
}

.hero-image {
  /* transform: rotateX(20deg) scale(0.9) translateY(-50); */
  transform: rotateX(15deg) scale(1);
  transition: transform 0.5s ease-out;
  will-change: transform;
}

.hero-image.scrolled {
  transform: rotateX(0deg) scale(1) translateY(40px);
  -webkit-transform: rotateX(0deg) scale(1) translateY(40px);
  -moz-transform: rotateX(0deg) scale(1) translateY(40px);
  -ms-transform: rotateX(0deg) scale(1) translateY(40px);
  -o-transform: rotateX(0deg) scale(1) translateY(40px);

 
}




.card-hover:hover{
  border-color: var(--primary);

}

.card-hover-dashboard:hover{
  /* border-color: var(--primary); */
  scale: 1.08;
}

.accordian-hover{
  transition: all ease-in 0.3s;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
}

.accordian-hover:hover{
  text-decoration: underline white 2px;
}


.btn-hover-onb:active{
  scale: 0.98;
 
}

.btn-hover-onb:hover{
 background-color:  #1877f2;
}


.quizListCardHover:hover{
  background-color: color-mix(in oklab, var(--muted) 50%, transparent);
}



@media(max-width:480px){
  ::-webkit-scrollbar{
    display: none;   
  }

  
}
 


/* From Uiverse.io by JkHuger */ 
@keyframes loader_5191 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.square {
  background: #ddd;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

#sq1 {
  margin-top: -25px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
  margin-top: -25px;
  animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
  margin-top: -25px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
  animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
  margin-top: 15px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
  margin-top: 15px;
  animation: loader_5191 675ms ease-in-out 525ms infinite;
}

#sq9 {
  margin-top: 15px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 600ms infinite;
}
  